/* CONTENEDOR GENERAL */
.panel-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* TOPBAR */
.topbar {
  width: 100%;
  height: 70px;
  background: #2c3142;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.avatar-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar-box img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

/* CONTENIDO */
.panel-content {
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

/* BOTONES */
.actions {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.btn {
  background: #2c3142;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn:hover {
  background: #3b4056;
}

.logout {
  background: #ff6262;
}

.logout:hover {
  background: #e04848;
}

/* CARD ESTILO 2 */
.ticket-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.card-header {
  background: #2c3142;
  color: #ffffff;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 600;
}

.card-body {
  padding: 25px;
}

/* FORMULARIO */
label {
  font-weight: 600;
  color: #2c3142;
  display: block;
  margin-bottom: 6px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background: #f8fafc;
  font-size: 15px;
  transition: 0.2s;
}
select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 15px;
  background: #f8fafc;
  transition: border-color 0.2s;
}

select:focus {
  border-color: #2c3142;
  outline: none;
}


input:focus,
textarea:focus {
  border-color: #3b82f6;
  outline: none;
}

.submit {
  width: 100%;
  background: #2c3142;
}

.submit:hover {
  background: #3b4056;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 3px;
  margin-bottom: 8px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
